# <font color = blue>MENAMBAH KOLOM BARU

Menambah kolom baru berdasarkan kolom yang sudah ada <br>
kali ini akan menambahkan kolom <font color = red> 'order_mounth' </font> berpacu pada kolom 'order_date'

In [1]:
import pandas as pd
import datetime

In [2]:
dataset = pd.read_csv ('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/retail_raw_reduced.csv')
print('Ukuran dataset: %d baris dan %d kolom\n' % dataset.shape)
print('Lima data teratas:')
print(dataset.head())

Ukuran dataset: 5000 baris dan 9 kolom

Lima data teratas:
   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price
0  BRAND_J        10      740000
1  BRAND_R         2      604000
2  BRAND_C         8     1045000
3  BRAND_A         4      205000
4  BRAND_R         2     4475000

## PENJELASAN FUNCTION

#### Ada beberapa function yang berperan di sini:

- ***apply & lambda*** biasa digunakan untuk membuat kolom baru, berdasarkan suatu kolom lain yang sudah ada <br>
(misal .apply(lambda x: x*2) berarti setiap input x di dalam kolom, akan diubah menjadi x*2). <br> 
Dalam hal ini kolom yang sudah ada  adalah dataset['order_date'], lalu tiap nilai di dalamnya kita proses agar menjadi month-nya saja<br>
- Function ***datetime.datetime.strptime*** digunakan untuk mengubah date/time dalam bentuk string menjadi tipe data datetime. <br>
- Function  ***strftime*** digunakan untuk mengubah format suatu data bertime datetime, dalam hal ini diubah menjadi '%Y-%m',<br> 
yang berarti outputnya adalah waktu dengan bentuk YYYY-MM atau tahun dan bulan saja, tanggalnya sudah tidak ada

In [3]:
dataset['order_month'] = dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))
print(dataset.head())

   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month
0  BRAND_J        10      740000     2019-10
1  BRAND_R         2      604000     2019-10
2  BRAND_C         8     1045000     2019-11
3  BRAND_A         4      205000     2019-08
4  BRAND_R         2     4475000     2019-10

### Menambah Kolom Baru Bernama 'Gmv'

Pada bagian ini akan ditambahkan kolom baru bernama **Gmv** yang berasal dari perkalian kolom **item_price** dan kolom **quantity**

In [11]:
dataset["Gmv"] = dataset["item_price"] * dataset["quantity"]

In [16]:
dataset.head()

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price,order_month,Gmv
0,1703458,2019-10-17,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10,740000,2019-10,7400000
1,1706815,2019-10-24,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2,604000,2019-10,1208000
2,1710718,2019-11-03,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8,1045000,2019-11,8360000
3,1683592,2019-08-19,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4,205000,2019-08,820000
4,1702573,2019-10-16,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2,4475000,2019-10,8950000

In [23]:
dataset.to_csv("data retail.csv", index = False)

#### Kunjungi Github Saya Untuk Pembelajaran Lainya <br>
Klik [@Bihaqialrafik](https://github.com/bihaqialrafik/Data-Science-With-Python)