In [1]:
import pandas as pd
import numpy as np

In [11]:
# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep="\t", nrows=10)
# Cetak data frame awal
print("Dataframe awal:\n", df.head(10))

Dataframe awal:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000

In [37]:
df.index = ["Pesanan ke-" + str(i) for i in range(1,11)]
# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df.head(10))

Dataframe dengan index baru:
                order_id  order_date  customer_id             city  \
Pesanan ke-1    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-2    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-3    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-4    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-5    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-6    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-7    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-8    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-9    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-10   1612339  2019-01-01        18055  Jakarta Selatan

                  province product_id    brand  quantity  item_price
Pesanan ke-1   DKI Jakarta      P0648  BRAND_C         4     1934000
Pesanan ke-2   DKI Jakarta      P3826  BRAND_V         8      604000
Pesanan ke-3   DKI Jakarta      P1508  BRAND_G        12      747000
Pesanan ke-4   DKI Jakarta      P0520  BRAND_B        12      450000
Pesanan ke-5   DKI Jakarta      P1513  BRAND_G         3     1500000
Pesanan ke-6   DKI Jakarta      P3911  BRAND_V         3     2095000
Pesanan ke-7   DKI Jakarta      P1780  BRAND_H         3     2095000
Pesanan ke-8   DKI Jakarta      P3132  BRAND_S         3     1745000
Pesanan ke-9   DKI Jakarta      P1342  BRAND_F         6     1045000
Pesanan ke-10  DKI Jakarta      P2556  BRAND_P         6     1045000

In [35]:
print(df)

               order_id  order_date  customer_id             city  \
Pesanan ke-1    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-2    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-3    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-4    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-5    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-6    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-7    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-8    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-9    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-10   1612339  2019-01-01        18055  Jakarta Selatan

                  province product_id    brand  quantity  item_price
Pesanan ke-1   DKI Jakarta      P0648  BRAND_C         4     1934000
Pesanan ke-2   DKI Jakarta      P3826  BRAND_V         8      604000
Pesanan ke-3   DKI Jakarta      P1508  BRAND_G        12      747000
Pesanan ke-4   DKI Jakarta      P0520  BRAND_B        12      450000
Pesanan ke-5   DKI Jakarta      P1513  BRAND_G         3     1500000
Pesanan ke-6   DKI Jakarta      P3911  BRAND_V         3     2095000
Pesanan ke-7   DKI Jakarta      P1780  BRAND_H         3     2095000
Pesanan ke-8   DKI Jakarta      P3132  BRAND_S         3     1745000
Pesanan ke-9   DKI Jakarta      P1342  BRAND_F         6     1045000
Pesanan ke-10  DKI Jakarta      P2556  BRAND_P         6     1045000