In [1]:
#Import Library yang Dibutuhkan
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [6]:
#Menbaca Dataset pada Local Komputer
dataset = pd.read_excel('Kmeans_dataset.xlsx')
array = dataset.values

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   no             510 non-null    int64
 1   jenis_tanaman  510 non-null    object
 2   provinsi       510 non-null    object
 3   luas_panen     510 non-null    float64
 4   produksi       510 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 20.0+ KB

In [8]:
#Menghapus kolom yang tidak dibutuhkan
dataset = dataset.drop(["no"], axis = 1)
print(dataset.head(10))

  jenis_tanaman              provinsi  luas_panen   produksi
0          Jahe                  Aceh    103.3079   3307.073
1          Jahe        Sumatera Utara    213.3948   5452.774
2          Jahe        Sumatera Barat     91.0781   3177.549
3          Jahe                  Riau     28.1259    918.147
4          Jahe                 Jambi     57.5993   1526.997
5          Jahe      Sumatera Selatan     44.5155    852.738
6          Jahe              Bengkulu    262.1258  13988.248
7          Jahe               Lampung    111.3792   1935.773
8          Jahe  Kep. Bangka Belitung      9.6566    243.422
9          Jahe        Kepulauan Riau      1.1104     18.218

In [9]:
#Transformasi Data
scale_X = StandardScaler()
dataset_zscore = scale_X.fit_transform(dataset[["luas_panen","produksi"]])

In [10]:
#Menjadikan hasil transformasi kedalam dataset
dataset_zscore = pd.DataFrame(dataset_zscore)

In [11]:
#Memberi Label pada Hasil Transformasi
dataset["Zscore_luas_panen"] = dataset_zscore[0]
dataset["Zscore_produksi"] = dataset_zscore[1]

In [12]:
#menyimpan hasil Transformasi data kedalam file excel jika diperlukan
dataset.to_excel("Kmeans dataset_Trans.xlsx", index=False)

In [15]:
#Cek Struktur data dan menampilkan 10 data pertama
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   jenis_tanaman      510 non-null    object
 1   provinsi           510 non-null    object
 2   luas_panen         510 non-null    float64
 3   produksi           510 non-null    float64
 4   Zscore_luas_panen  510 non-null    float64
 5   Zscore_produksi    510 non-null    float64
dtypes: float64(4), object(2)
memory usage: 24.0+ KB

,jenis_tanaman,provinsi,luas_panen,produksi,Zscore_luas_panen,Zscore_produksi
0,Jahe,Aceh,103.3079,3307.073,0.142808,0.271157
1,Jahe,Sumatera Utara,213.3948,5452.774,0.474414,0.564927
2,Jahe,Sumatera Barat,91.0781,3177.549,0.105969,0.253424
3,Jahe,Riau,28.1259,918.147,-0.083657,-0.055914
4,Jahe,Jambi,57.5993,1526.997,0.005124,0.027445
5,Jahe,Sumatera Selatan,44.5155,852.738,-0.034288,-0.064869
6,Jahe,Bengkulu,262.1258,13988.248,0.621203,1.733529
7,Jahe,Lampung,111.3792,1935.773,0.167121,0.083411
8,Jahe,Kep. Bangka Belitung,9.6566,243.422,-0.139290,-0.148291
9,Jahe,Kepulauan Riau,1.1104,18.218,-0.165033,-0.179124